.contact__list {
  list-style: none;
}

.contact__list-item {
  --icon-size: 1.25em;

  padding-left: 2em;
  margin-top: 0.5em;
  position: relative;
}

.contact__list-item:first-of-type {
  margin-top: 0;
}

.contact__list-item > p {
  display: inline;
}

.contact__list-item.icon-phone::before,
.contact__list-item.icon-email::before,
.contact__list-item.icon-default::before {
  content: "";
  width: var(--icon-size);
  height: var(--icon-size);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.contact__list-item.icon-phone::before,
.contact__list-item.icon-email::before {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.contact__list-item.icon-phone::before {
  background-image: url("../assets/icons/call_icon.svg");
}

.contact__list-item.icon-email::before {
  background-image: url("../assets/icons/alternate_email.svg");
}

.contact__list-item.icon-default::before {
  border: 3px solid var(--clr-primary-400);
  border-radius: 50%;
}

.contact__list-item .spaced-chars {
  letter-spacing: 0.1em;
}
