/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@200;400;600&display=swap");

:root {
  --ff-title: "PT Sans", sans-serif;
  --ff-primary: "Poppins", sans-serif;

  --fw-lite: 200;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-700: clamp(1rem, 0.5rem + 10vw, 3rem);
  --fs-600: clamp(0.85rem, 0.5rem + 7vw, 2rem);
  --fs-500: clamp(0.625rem, 0.5rem + 3vw, 1.5rem);
  --fs-400: clamp(0.5rem, 0.5rem + 1.75vw, 1rem);

  --clr-primary-400: hsla(159, 100%, 42%, 1);
  --clr-primary-700: hsla(159, 100%, 1%, 1);

  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-200: hsla(0, 0%, 90%, 1);
  --clr-neutral-700: hsla(0, 0%, 14%, 1);
}

.app {
  background-color: var(--clr-neutral-700);
  color: var(--clr-neutral-200);
  max-width: 900px;
  min-height: 100vh; /* fallback if dvh doesn't work */
  min-height: 100dvh;
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  margin: 0 auto;
}

.app h1,
.app h2,
.app h3 {
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
}
